#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* src/App.css */

/* 全局样式重置 */
body, html {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: #f4f4f4;
}

.scroll-container {
  height: 100vh; /* 容器高度为视窗的100% */
  overflow-y: scroll; /* 在Y轴上允许滚动 */
  scroll-snap-type: y mandatory; /* 在Y轴上强制滚动捕捉 */
}

/* 确保每个直接子元素都成为一个捕捉点 */
.scroll-container > section {
  height: 100vh;
  scroll-snap-align: start; /* 元素的顶部与容器的顶部对齐 */
}